pipeline/ExampleAPI.json
{
	"name": "ExampleAPI",
	"properties": {
		"activities": [
			{
				"name": "runtimeStatus",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "statusQueryGetUri",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('statusQueryGetUri').output.runtimeStatus, 'Completed')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Failed",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Completed",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "Long Lasting Durable Function",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "orchestrators/LongLastingDurableFunctionsOrchestrator1?name=IDOCoreTables2.csv",
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "AzureFunction1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "statusQueryGetUri",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Long Lasting Durable Function",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('Long Lasting Durable Function').output.statusQueryGetUri",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET"
				}
			},
			{
				"name": "runtimeStatus_copy1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "statusQueryGetUri_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('statusQueryGetUri_copy1').output.runtimeStatus, 'Completed')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Failed_copy1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Completed_copy1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "Long Lasting Durable Function_copy1",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "orchestrators/LongLastingDurableFunctionsOrchestrator1?name=IDOCoreTables3.csv",
					"method": "GET"
				},
				"linkedServiceName": {
					"referenceName": "AzureFunction1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "statusQueryGetUri_copy1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Long Lasting Durable Function_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@activity('Long Lasting Durable Function_copy1').output.statusQueryGetUri",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET"
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-05-17T22:15:58Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}